///////////////////////////////////////////////////// Variables Start ///////////////////////////////////////////////////////////////////
$inline-sizes: (1: 150px, 2: 250px, 3: 350px, 4: 450px, 5: 550px);
@each $key, $size in $inline-sizes {
  .inline-size-#{$key} {
    inline-size: $size !important;
  }
}
// Custom Border Radius
$global_corner_lg: 1.25rem; //used
$global_corner_md: 0.938rem; //used
$global_corner_xl: 1.875rem; //used
$global_corner_half: 50%; //used

// Font Size Bootstrap Variables

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$h1-font-size: $font-size-base * 2.25; // used
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.5; //used
$h4-font-size: $font-size-base * 1.5; //used
$h5-font-size: $font-size-base * 1.375; //used //22px
$h6-font-size: $font-size-base * 1.125; //used //18px
$font-size-lg: $font-size-base * 1.25; //used //20px
$font-size-md: $font-size-base * 1; //used //16px
$font-size-sm: $font-size-base * 1; //used //16px
$font-size-xs: $font-size-base * .75;

$global-box-shadow_5: 0px 0px 20px 0px #00000040; //used
$input-box-shadow: 0rem 0.125rem 0.5rem rgba(0, 0, 0, 0.15);
$global-btn-box-shadow: inset 0px 3.46122px 3.46122px rgba(0, 0, 0, 0.25), inset -8px -8px 12.8px rgba(0, 0, 0, 0.3), inset 8px 8px 12.8px rgba(255, 255, 255, 0.1);
$box-shadow-sm: 0 .125rem .5rem rgba(black, .15);
$scrollbar-track-box-shadow: inset 0 0 2.375rem #979797; //used
//colors
$white:#ffffff;
$primary-white: #ffffff; //used
$light: #f6f6f6; //used
$dark: #454545; //used
$primary: #da7826; //used
$secondary: #da7826; //used
$purple:#6f42c1;
$primary-text: #fff;
$primary-gradient: linear-gradient(360.02deg, #92D050 2.02%, #92D050 100%);

$secondary-bg: #181F2C; //used
$secondary-gradient: linear-gradient(95.02deg, #313F4E 7.02%, #313F4E 95.7%);
$search-bottom: #A2A2A2;
$placeholder-color: #ABABAB;
$profile-text-color: #8C8C8C;
$success: #2ACE58;
$green : green;
$warning: #ffc107;
$error: #ff0000;
$danger: $error;
$info: #da7826;
$black: #000000;
$global-border-color: $primary;
$primary-black: $black;
$primary-overlay: #00467750;
$table-border-color: #e0e0e0;
$shadow-color: #B5000040; //used
$side-nav-active-bg: #FFF7F7; //used
$sidebar-shadow-color: #00000040; //used
$dark-pink: #E44421; //used
$scrollbar-thumb-color: #6e6e6e; //used
$checkbox-color:#37ff3f57;

// Map Color
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "light-pink": $side-nav-active-bg,
    "dark-pink": $dark-pink,
    "profile-text-color": $profile-text-color,
    "green": $green,

);
// Body
$body-bg: $primary-white; //used
$body-color: $secondary;

// Typography
$font-family-sans-serif: 'Laila', sans-serif;
$font-family-base: $font-family-sans-serif !default;

//container variable
$container-max-size: 92%;

//card variables
$card-border-width: 0.063rem;
$card-border-color: #DDDDDD;
$card-border-radius: .5rem;
$card-box-shadow:  rgba(0, 0, 0, 0.16) 0px 1px 4px;
$card-box-hover-shadow: none;
$card-bg: $primary-white;
$card-padding-cap-padding-x: 1.25rem;
$card-padding-cap-padding-y: 2.5rem;
$card-padding-cap-padding-x-sm: 1.5rem;
$card-padding-cap-padding-y-sm: 1.75rem;
$card-padding-cap-padding-x-xs: 0.8rem;
$card-padding-cap-padding-y-xs: 1rem;

// Upload img

$upload-img-width: 5rem; //used
$upload-img-height: 5rem; //used
$user-profile-size: 7rem; //used
// anchor links
$link-color: $primary-text;
$link-decoration: unset;
$link-hover-color: $primary;
//anchor links end
//Button start
$btn-padding-y: .60rem;
$btn-padding-x: 2.5rem;
$btn-font-family: $font-family-sans-serif;
$btn-font-size: 0.875rem;
$btn-link-color: $primary-white;
$btn-link-hover-color: $primary-white;
$btn-primary-color: $primary-white;
$btn-bg: $primary; //used
$btn-gradient: linear-gradient(95.02deg, #5C5524 7.02%, #5C5524 95.7%); //used
$btn-box-shadow: 0px 0px 0.25rem 0px rgba(0, 0, 0, 0.25);
$btn-border-radius: 0.25rem;
$btn-transition: all .3s linear;
$btn-border-width: 0px;
$input-focus-box-shadow: 0 0 0 0.125rem rgba(146, 208, 80, 0.25);
$btn-font-weight: bold;
$btn-hover-bg-shade-amount: 100%;

// Nav pills Variables
$nav-link-padding-y: 0.563rem;
$nav-link-padding-x: 1.125rem;
$nav-link-font-size: 1rem;
$nav-link-font-weight: 400;
$nav-link-color: $link-color;
$nav-link-hover-color: $link-hover-color;
$nav-link-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
$nav-link-disabled-color: rgba($link-color, 15%);

$nav-tabs-border-color: $global-border-color;
$nav-tabs-border-width: 0;
$nav-tabs-border-radius: 0;
$nav-tabs-link-hover-border-color: $primary;
$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-bg: $primary-white;
$nav-tabs-link-active-border-color: $nav-tabs-link-active-color;

$nav-pills-border-radius: $card-border-radius;
$nav-pills-link-active-color: $primary;
$nav-pills-link-active-bg: $dark;

/** form and input starts */
// Form Label
$form-label-margin-bottom: 0.625rem;
$form-label-font-size: 1rem;
$form-label-font-style: normal;
$form-label-font-weight: 400;
$form-label-color: $secondary;
$form-check-label-color: $primary;
// Floating form start ==========
$form-floating-height:                  add(1.5rem);
$form-floating-line-height:             1.25;
$form-floating-padding-x:               0.85rem;
$form-floating-padding-y:               0.85rem;
$form-floating-input-padding-t:         0.85rem;
$form-floating-input-padding-b:         0.85rem;
// $form-floating-label-height:            1.5em;
$form-floating-label-opacity:           .65;
$form-floating-label-transform:         scale(.85) translateY(-1.7rem) translateX(.15rem);
// Floating form end ==========
// Form Input
$input-padding-x: 0.75rem;
$input-padding-y: 0.65rem;
$input-padding-x-sm: 0.21875rem;
$input-padding-y-sm: 0.5375rem;
$input-padding-x-xs: 0.14583333333rem;
$input-padding-y-xs: 0.26875rem;
$input-font-family: $font-family-sans-serif;
$input-font-size: 1rem;
$input-font-weight: 400;
$input-bg: $primary-white;
$input-color: $secondary;
$input-border-width: 0.003rem;
$input-box-shadow:none;
$input-border-radius: 0.313rem;
$input-border-radius-sm: 0.3125rem;
$input-border-radius-xs: 0.15625rem;
$input-focus-bg: $primary-white;
$input-focus-color: $primary;
$input-focus-width: 0;
$input-focus-box-shadow: none;
$input-margin: 1.25rem;
$input-max-width-lg: 7rem;
$input-max-width-md: 6rem;
$input-max-width-sm: 5rem;
$input-max-width-xs: 3.125rem;
$top-search-radius: 1.5rem; //used
// Form Select
$form-select-color: $input-color;
$form-select-box-shadow: $input-box-shadow;
$form-select-focus-box-shadow: $input-box-shadow;
// table variables start
$table-font-size:0.875rem;
$table-th-font-weight: 600;
$table-color: $secondary;
$table-border-width: 0.063rem;
$table-border-color: $light;
$table-hover-bg: $primary;
$table-hover-light-bg: rgb(231 228 228 / 91%);
$table-hover-color: $primary-white;
$table-cell-padding-y: 1rem;
$table-cell-padding-x:1rem;
$table-th-bg: $table-hover-bg;
$table-td-padding: 1.75rem 2.25rem;
$table-td-padding-sm: 0.75rem 1.125rem;
$table-td-padding-xs: 0.438rem 0.563rem;
//table variables end

// Custom Width variables
$scrollbar-thumb-width: 0.625rem;
// Pagination Start
$bs-pagination-padding-x: 0.75rem;
$bs-pagination-padding-y: 0rem;
$bs-pagination-font-size: 1rem;
$bs-pagination-font-weight: 600;
$bs-pagination-bg: $primary-gradient;
$bs-pagination-hover-bg: $secondary-gradient;
$bs-pagination-border-width: 0rem;
$bs-pagination-border-radius: 0.325rem;
$bs-pagination-box-shadow: $btn-box-shadow;
$bs-pagination-hover-box-shadow: -0.389rem -0.389rem 0.938rem #F9FCFF, 0.389rem 0.389rem 0.938rem rgba(0, 0, 0, 0.1);
$bs-pagination-focus-bg: #e9ecef;
$bs-pagination-color: $primary-text;
$bs-pagination-active-color: $primary;
$bs-pagination-active-bg: $primary-white;
$bs-pagination-disabled-color: #6c757d;
$bs-table-striped-bg: transparent;
$bs-table-accent-bg: $bs-table-striped-bg;
$enable-negative-margins: true;

// Sidebar
$sidebar-menu-padding: 0 .625rem; // for Sidebar menu main margin
$sidebar-width:20.625rem; // for Sidebar Width
$sidebar-max-height: calc(100vh - 7.75rem);
$global-box-shadow_5: 0rem 0rem 1.25rem 0rem $sidebar-shadow-color; //used
$sidebar-box-shadow: 0rem 0rem .25rem 0rem $sidebar-shadow-color; //used

// MainContent
$mainContentPadding: 1.875rem 0.938rem; // for main content page padding

// Offcanvas
$offcanvas-horizontal-width:        21.875rem;


//Dropdown
$dropdown-min-width:                10rem;
$dropdown-padding-x:                0;
$dropdown-padding-y:                .5rem;
$dropdown-spacer:                   .125rem;
$dropdown-font-size:                14px;
$dropdown-color:                    $primary;
$dropdown-bg:                       $white;
$dropdown-border-radius:            4px;
$dropdown-border-color:             $secondary;
$dropdown-border-width:             0px;
$dropdown-divider-bg:               $secondary;
$dropdown-box-shadow:               none;
$dropdown-item-padding-y:           10px;
$dropdown-item-padding-x:           10px;
$dropdown-link-active-color:        $secondary;
$dropdown-link-active-bg:           $light;
$dropdown-link-hover-color:         $dark;
$dropdown-link-hover-bg:            $light;

// Custom Variables
$login-box-shadow: 0rem 0rem .25rem 0rem $shadow-color; //used




// ========= font-size mixin start ==========
// h1 style
@mixin font-h1 {
    font-size: $h1-font-size;
    line-height: 125%;
    font-weight: 900;
    color: $secondary;

    @media(min-width:1200px) and (max-width:1620px) {
        font-size: calc($h1-font-size * 0.938)
    }

    @media (max-width:1199px) {
        font-size: calc($h1-font-size * 0.875)
    }
}

// h2 style
@mixin font-h2 {
    font-size: $h2-font-size;
    line-height: 125%;
    font-weight: 700;
    color: $primary;

    @media(min-width:1200px) and (max-width:1620px) {
        font-size: calc($h2-font-size * 0.938)
    }

    @media (max-width:1199px) {
        font-size: calc($h2-font-size * 0.875)
    }
}

// h3 style
@mixin font-h3 {
    font-size: $h3-font-size;
    line-height: 125%;
    font-weight: 600;
    color: $secondary;

    @media(min-width:1200px) and (max-width:1620px) {
        font-size: calc($h3-font-size * 0.938)
    }

    @media (max-width:1199px) {
        font-size: calc($h3-font-size * 0.875)
    }
}

// h4 style
@mixin font-h4 {
    font-size: $h4-font-size;
    line-height: 125%;
    font-weight: 500;
    color: $primary;

    @media(min-width:1200px) and (max-width:1620px) {
        font-size: calc($h4-font-size * 0.938)
    }

    @media (max-width:1199px) {
        font-size: calc($h4-font-size * 0.875)
    }
}

// h5 style
@mixin font-h5 {
    font-size: $h5-font-size;
    line-height: 125%;
    font-weight: 500;
    color: $primary;

    @media(min-width:1200px) and (max-width:1620px) {
        font-size: calc($h5-font-size * 0.938)
    }

    @media (max-width:1199px) {
        font-size: calc($h5-font-size * 0.875)
    }
}

// h6 style
@mixin font-h6 {
    font-size: $h6-font-size;
    line-height: 150%;
    font-weight: 500;
    color: $secondary;

    @media(min-width:1200px) and (max-width:1620px) {
        font-size: calc($h6-font-size * 0.938)
    }

    @media (max-width:1199px) {
        font-size: calc($h6-font-size * 0.875)
    }
}

// paragraph style
@mixin font-lg {
    font-size: $font-size-lg;
    line-height: 150%;
    font-weight: 400;
    color: $primary;

    @media(min-width:1200px) and (max-width:1620px) {
        font-size: calc($font-size-lg * 0.938)
    }

    @media (max-width:1199px) {
        font-size: calc($font-size-lg * 0.875)
    }
}

// paragraph style
@mixin font-base {
    font-size: $font-size-base;
    line-height: 150%;
    font-weight: 500;
    margin-bottom: 0;

    @media(min-width:1200px) and (max-width:1620px) {
        font-size: calc($font-size-base * 0.938)
    }

    @media (max-width:1199px) {
        font-size: calc($font-size-base * 0.875)
    }
}

// span
@mixin font-sm {
    font-size: $font-size-sm;
    line-height: 150%;
    font-weight: 500;

    @media(min-width:1200px) and (max-width:1620px) {
        font-size: calc($font-size-sm * 0.938)
    }

    @media (max-width:1199px) {
        font-size: calc($font-size-sm * 0.875)
    }
}

// small
@mixin font-xs {
    font-size: $font-size-xs;
    line-height: 150%;
    font-weight: 100;
    color: $primary;

    @media(min-width:1200px) and (max-width:1620px) {
        font-size: calc($font-size-xs * 0.938)
    }

    @media (max-width:1199px) {
        font-size: calc($font-size-xs * 0.875)
    }
}